{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-3">{% include 'settings/_nav.html'  with active='billing' %}</div>
  <div class="col-9">
    
    <h4>Your subscription:</h4>
    {% if subscription.status == "active" %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ subscription.plan.product.name }}</h5>
          <small class="text-muted">{{subscription.current_period_start}} to {{subscription.current_period_end}}</small>
          <p class="card-text">{{ subscription.plan.product.description }}</p>
          Amount: {{  subscription.plan.amount}}
        </div>
      </div>
    {% else %}
      <div class="alert alert-danger"><strong>No Subscription.</strong> Please subscribe a plan to post jobs.</div>

      <hr>
      
      <a class="btn btn-success btn-lg pull-right" href="{% url 'payments:checkout' %}">Subscribe New Plan</a>
    {% endif %}
  </div>
</div>
{% endblock %}