{% extends "base.html" %}
{% block css %}

{% endblock %}
{% block content %}

<div class="container ">
  <p class="lead">Monthly Subscriptions</p>
  <form id="subscription-form" >
    <div class="row m-4">
      <div class="col-md-6">
        <div id="card-element" class="MyCardElement"></div>
        <div id="card-errors" role="alert"></div>
      </div>
    </div>
    
    <div class="row">
      {% for p in products %}
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title font-weight-bold">{{p.name}}</h5>
            <p class="card-text text-muted">{{p.description}}</p>
            {% for plan in p.plan_set.all %}
              <h5>{{ plan.human_readable_price }}</h5>
              <button id="submit" class="btn btn-success" type="button" 
                onclick="createPaymentMethod('{{plan.id}}')">Subscribe</button>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="spinner-grow m-5" style="display: none;" id="spinner" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <!-- <button type="button" onclick="hidespinner()">hh</button> -->
    </div>
  </form>
</div>
{% endblock %}

{% block js %}
<!-- <script class="lazy" data-src="https://js.stripe.com/v3/"></script> -->
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
  stripeElements();

  function displayError(event) {
    hidespinner();
    let displayError = document.getElementById('card-errors');
    if (event.error) {
      displayError.textContent = event.error.message;
    } else {
      displayError.textContent = '';
    }
  }

  function stripeElements() {
    stripe = Stripe('{{pubkey}}');

    if (document.getElementById('card-element')) {
      let elements = stripe.elements();
      card = elements.create('card'); //, { style: style });
      card.mount('#card-element');

      card.on('focus', function () { 
        document.getElementById('card-errors').classList.add('focused');
      });

      card.on('blur', function () {
        document.getElementById('card-errors').classList.remove('focused');
      });

      card.on('change', function (event) {
        displayError(event);
      });
    }
  }

  let hidespinner = ()=>{$('#spinner').hide();$('button').removeClass('disabled');}

  function createPaymentMethod(priceId) {
    $('#spinner').show();
    $('button').addClass('disabled');

    // Set up payment method for recurring usage
    let billingName = '{{user.username}}';

    stripe.createPaymentMethod({
        type: 'card',
        card: card,
        billing_details: {
          name: billingName,
        },
      })
      .then((result) => {
        if (result.error) {
          displayError(result);
        } else {
         const paymentParams = {
            price_id: priceId,
            payment_method: result.paymentMethod.id,
        };
        fetch("{% url 'payments:create-sub' %}", {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken':'{{ csrf_token }}',
          },
          credentials: 'same-origin',
          body: JSON.stringify(paymentParams),
        }).then((response) => {
          return response.json(); 
        }).then((result) => {
          if (result.error) {
            // The card had an error when trying to attach it to a customer
            hidespinner();
            throw result;
          }
          return result;
        }).then((result) => {
          if (result && result.status === 'active') {
            window.location.href = "{% url 'payments:complete' %}";
          };
        }).catch(function (error) {
          displayError(result.error.message);
        });
        }
      });
  }

</script>
{% endblock %}       
