
<img src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" class="img-fluid" alt="">
<!-- <div class="jumbotron">
  <h1 class="display-4">{{company.name|title}}!</h1>
  <p class="lead">LIVE ENERGIZED.</p>
  <hr class="my-4">
  <p>{% if company.description%}{{company.description}}{% else%}Join {{company}} the most energizing community for Python Developers and get long-term remote jobs with leading brands.{% endif %}</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">JOIN {{company.name|upper}}</a>
</div>
 -->