{% extends 'base.html' %}
{% load static %}

{% block css %}
<!-- <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'datatables/responsive.bootstrap4.min.css' %}"> -->

{% endblock %}


{% block body %}
{% include 'company/_header.html' %}
{% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
    </div>
  {% endfor %}
    <table id="datatable_jobs" width="100%" class="table table-striped table-bordered compact">
    </table>

{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<!-- <script src="{% static 'datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/responsive.bootstrap4.min.js' %}"></script> -->

<script type="text/javascript">
$(document).ready(function() {
    AjaxDatatableViewUtils.initialize_table($('#datatable_jobs'), "{% url 'ajax_datatable_jobs' %}",
      { processing: false, autoWidth: false, full_row_select: false, scrollX: false },
      { company: '{{request.get_host}}',}
    );

    function preventClick( event ) { event.preventDefault() }
    // prevent going to top while + and - click
    $("#datatable_jobs").on( "click", "a.plus", preventClick ); 
    $("#datatable_jobs").on( "click", "a.minus", preventClick ); 
});
</script>
{% endblock %}
