{% load humanize %}
<h3>{{job.title}}</h3>
<hr style="margin: 0">
<small class="text-muted">posted on: {{job.created_at|naturaltime}}</small>
<div class="row">
  <div class="col-md-6"><p>Stage <span class="badge badge-secondary">{{job.stage}}</span></p></div>
  <div class="col-md-6"><p>Reporting line: {{job.reporting_line}}</p></div>
</div>

<div class="alert alert-info" role="alert">
  <strong>Description:</strong>
  <p>{{job.description}}</p>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4"><h6 class="mb-0">Department</h6></div>
          <div class="col-sm-8 text-secondary">{{job.department}}</div>
        </div><hr>
        <div class="row">
          <div class="col-sm-4"><h6 class="mb-0">Salary low</h6></div>
          <div class="col-sm-8 text-secondary">{{job.salary_low}}</div>
        </div><hr>
        <div class="row">
          <div class="col-sm-4"><h6 class="mb-0">Salary high</h6></div>
          <div class="col-sm-8 text-secondary">{{job.salary_high}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4"><h6 class="mb-0">Category</h6></div>
          <div class="col-sm-8 text-secondary">{{job.category}}</div>
        </div><hr>
        <div class="row">
          <div class="col-sm-4"><h6 class="mb-0">Start date</h6></div>
          <div class="col-sm-8 text-secondary">{{job.start_date}}</div>
        </div><hr>
        <div class="row">
          <div class="col-sm-4"><h6 class="mb-0">Closing date</h6></div>
          <div class="col-sm-8 text-secondary">{{job.closing_date}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card mt-3">
      <div class="card-header">Keywords</div>
      <ul class="list-group list-group-flush">
        {% for jobkeyword in jobkeywords %}
        <li class="list-group-item">
          <strong>{{jobkeyword.keyword.name}}: </strong>
          {% for tag in jobkeyword.tags.all %}
            <span class="badge badge-info mr-2">{{tag.name}}</span>
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>