{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/responsive.bootstrap4.min.css' %}">
{% endblock %}
{% block content %}
<h3>View Job</h3>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'job:list' %}">Jobs</a></li>
    <li class="breadcrumb-item active" aria-current="page">#{{pk}}</li>
  </ol>
</nav>

<p>{{job.title}}</p>
<p>{{job.created_at|date:"SHORT_DATE_FORMAT"}}</p>
<p>
{% for keyword in job.keywords.all %}
  <span style="font-size: 5px">{# keyword.jobkeywords_set.get(job=job).tags.all #}</span>
  <span class="badge badge-info">{{keyword.name}}</span>
{% endfor %}
</p>

<p>{{job.description}}</p>
<p>{{job.department}}</p>
<p>{{job.category}}</p>
<p>{{job.salary_low}}</p>
<p>{{job.salary_high}}</p>
<p>{{job.start_date}}</p>
<p>{{job.closing_date}}</p>
<p>{{reporting_line}}</p>
<p>{{job.stage}}</p>


<table class="table table-bordered dt-responsive nowrap" style="width:100%" id="candidatelist">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Position</th>
      <th scope="col">Posted on</th>
      <th scope="col">Keywords</th>
    </tr>
  </thead>
  <tbody>
  	
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>sfsad</td>
      <td>adfasdf</td>
      <td>asdfsdfasd</td>
      
    </tr>
</tbody>
</table>
{% endblock %}
{% block js %}
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/responsive.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#candidatelist').DataTable({
      "pageLength": 10
    });
});
</script>

{% endblock %}
