{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/responsive.bootstrap4.min.css' %}">

{% endblock %}


{% block content %}
{% include 'myapp/_job.html' %}
<hr>
<table class="table table-bordered dt-responsive nowrap" style="width:100%" id="candidatelist">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Candidate Name</th>
      <th scope="col">Email</th>
      <th scope="col">Job Title</th>
      <th scope="col">Salary Expected</th>
      <th scope="col">Resume</th>
    </tr>
  </thead>
  <tbody>
  	{% for candidate in job.candidate_set.all %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{candidate.name}}</td>
      <td>{{candidate.email}}</td>
      <td>{{candidate.jobtitle}}</td>
      <td>{{candidate.salary}}</td>
      <td>{{candidate.resume_data}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
{% block js %}
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/responsive.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#candidatelist').DataTable({
      "pageLength": 10,
      columnDefs: [
        {
          render: function (data, type, full, meta) {
            return "<div style='white-space:normal; width:90%;'>" + data + "</div>";
          },
          targets: 5
        }
     ]
    });
});
</script>

{% endblock %}
