{% extends 'base.html' %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block css %}
<link rel="stylesheet" type="text/css" href="https://selectize.dev/css/selectize.css">
{% endblock %}

{% block content %}
<form method="post" novalidate>{% csrf_token %}
    {{ formset.management_form }}
    {{ form|crispy }}
    {% for form in formset %}
    <div class="row">
      <div class="col-md-6">
        {{ form.keyword|as_crispy_field }}
      </div>
      <div class="col-md-6">
        {{form.tags|as_crispy_field}}
      </div>
    </div>
    {% endfor %}
    <input class='btn btn-primary' type='submit' value='Save'>
</form>   

{% endblock %}
{% block js %}
<script src="https://selectize.dev/js/selectize.js"></script>
<script type="text/javascript">
  $(".selectmultiple").selectize({
    delimiter: ",",
    persist: false,
    create: function (input) {
      return {
        value: input,
        text: input,
      };
    },
  });
  $(".select").selectize({
    create: function (input) {
      return {
        value: input,
        text: input,
      };
    },
  });
</script>
{% endblock %}