{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags crispy_forms_filters %}

{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="https://selectize.dev/css/selectize.css"> -->
<link href="{% static 'selectize/selectize.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'selectize/selectize.bootstrap4.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'airdatepicker/datepicker.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}

{% if pk %}
<h3>Edit Job</h3>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'job:list' %}">Jobs</a></li>
    <li class="breadcrumb-item active" aria-current="page">#{{pk}}</li>
  </ol>
</nav>
{% endif %}

<form method="post" enctype="multipart/form-data">
  <!-- Job Form -->  
  {% crispy jobform %}

  <!-- Keywords Form -->
  {{ formset.management_form }}
  <div class="card mb-4">
    <div class="card-header">Keywords</div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">Keyword</div>
        <div class="col-md-8">Tags</div>
      </div>
      {% for form in formset %}
      {{ form.id }}
      <div class="row">
        <div class="col-md-3 job-keywords">
          {{ form.keyword|as_crispy_field }}
        </div>
        <div class="col-md-8 job-tags">
          {{form.tags|as_crispy_field}} 
        </div>
        {% if form.instance.pk %}
        <div class="col-md-1">
          <small>Delete:</small><br>{{ form.DELETE}}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  
  <!-- Candidates Form -->
  {{ formset2.management_form }}
  <div class="card">
    <div class="card-header">Candidates</div>
    <div class="card-body">
      <div id="candidate_form">
      {% for form in formset2 %}        
        {{ form.id }}
        {% crispy form %}<hr>
      {% endfor %}
      </div>
      <div id="empty_form" style="display: none;">
        {% crispy formset2.empty_form %}<hr>
      </div>
      <button class="btn btn-info btn-sm float-right" type="button" id="add_more"><i class="fa fa-plus"></i> Add More Candidate</button>
    </div>
  </div>
  <br>
  <button class="btn btn-success float-right" type="submit"><i class="fa fa-save"></i> Save Job</button>

</form>   

{% endblock %}
{% block js %}
<script src="{% static 'airdatepicker/datepicker.min.js' %}"></script>
<script src="{% static 'airdatepicker/datepicker.en.js' %}"></script>
<script src="{% static 'selectize/selectize.js' %}"></script>
<!-- <script src="https://selectize.dev/js/selectize.js"></script> -->

<script type="text/javascript">

  $(document).ready(function () {
    $(".job-keywords select").selectize({create: a => ({value:a, text:a})});
    $(".job-tags select").selectize({plugins: ['remove_button'],delimiter: ",",
      persist: false,create: a => ({value:a, text:a})});

    $('.dateinput').datepicker({
      language: 'en',
      dateFormat: "yyyy-mm-dd",
      autoClose: true
    });
    $('.dateinput').attr("autocomplete", "off");
    
    $('#add_more').click(function() {
      // https://stackoverflow.com/a/8097617/2351696
      const frm = 'candidate';
      const form_idx = $(`#id_${frm}_set-TOTAL_FORMS`).val();
      $('#candidate_form').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
      $(`#id_${frm}_set-TOTAL_FORMS`).val(parseInt(form_idx) + 1);
      // cloneMore('div.candidate_form:last', 'candidate');
    });

  });

</script>
{% endblock %}