{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'datatables/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'datatables/responsive.bootstrap4.min.css' %}">
{% endblock %}

{% block content %}


<table class="table table-sm table-bordered dt-responsive nowrap compact" style="width:100%" id="joblist">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Position</th>
      <th scope="col">Posted on</th>
      <th scope="col">Keywords</th>
      <th>Stage</th>
      <th></th>
      <th>Category</th>      
      <th>Salary low</th>
      <th>Salary high</th>
      <th>Start date</th>
      <th>Closing date</th>
      <th>Reporting line</th>      
      <th>Description</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
  	{% for job in object_list %}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{job.title}}</td>
      <td>{{job.created_at|date:"SHORT_DATE_FORMAT"}}</td>
      <td>
        {% for keyword in job.keywords.all %}
          <span style="font-size: 5px">{# keyword.jobkeywords_set.get(job=job).tags.all #}</span>
          <span class="badge badge-info">{{keyword.name}}</span>
        {% endfor %}
      </td>
      <td>{{job.stage}}</td>
      <td>
        <a href="{% url 'job:view' job.pk %}" class="btn btn-outline-success btn-sm" title="View Job"><i class="fa fa-window-maximize fa-lg"></i></a>
        <a href="{% url 'job:edit' job.pk %}" class="btn btn-outline-warning btn-sm" title="Edit Job"><i class="fa fa-pencil-square-o fa-lg"></i></a>
        <a href="{% url 'job:delete' job.pk %}" class="btn btn-outline-danger btn-sm" title="Delete Job"><i class="fa fa-trash-o fa-lg"></i></a>

      </td>
      <td>{{job.category}}</td>
      <td>{{job.salary_low}}</td>
      <td>{{job.salary_high}}</td>
      <td>{{job.start_date}}</td>
      <td>{{job.closing_date}}</td>
      <td>{{job.reporting_line}}</td>
      <td>{{job.description}}</td>
      <td>{{job.department}}</td>
    </tr>
	  {% endfor %}
</tbody>
</table>
{% endblock %}
{% block js %}
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables/responsive.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $('#joblist').DataTable({
      "pageLength": 10
    });
});
</script>

{% endblock %}